/*
Project Name: Blank Template
Client: Your Client
Author: David Randall
Developer @GA in DEN
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  text-align:center;
  margin: auto;
  height: 400px;
}

#companyName {
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  margin: 0 10px 10px 50px;
  padding-top: 15px;
}

#tagLine {
  font-weight: 600;
  font-size: 24px;
  margin: 20px;
}

#getItButton {
  color: #033048;
  background-color: #f9e42e;
  font-size: 14px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin: 25px;
}

.benefits {
  background-color: #f0efef;
  padding: 20px 30px;
}

#benefitHeadline {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  padding: 5px -5px 5px 5px;
}

.benefitsList {
  list-style: circle;
  margin: 10px 45px;
}

.testimonial {
  background: url(../images/testimonial_bg.jpg);
  color: white;
  font-size: 18px;
  text-align: center;
}

#testimonialQuote {
  font-weight: 300;
  font-style: italic;
  width: 200px;
  text-align: center;
}

#quoteAuthor {
  font-weight: 600;
}

#signUp {
  background-color: #f9e42e;
  margin: 30px, 0;
}

footer {
    background-color: #121212;
}

footer h2 {
  color: #f9e42e;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




